<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <title>Clément Maneschi</title>
    <meta name="author" content="Romain Maneschi" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="shortcut icon" type="image/ico" href="img/logo.png" />
  </head>
  <body>
    <header>
      <a class="globalTitle" href="index.html">
        <img class="logo" src="img/logo.png">
      </a>
      <div class="menu">
        <a href="" class="btn">Services</a>
        <a href="" class="btn">Tarif</a>
        <a href="" class="btn">Contact</a>
        <a href="" class="btn">Galeries</a>
      </div>
    </header>

    <section class="mainContainer">
      {{ content }}
    </section>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36759922-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>